/* line 8, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.links {
  padding-top: 5em; }

/* line 12, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.about {
  background-color: #FFF;
  padding: 1em; }
  @media screen and (min-width: 500px) {
    /* line 12, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
    .about {
      display: flex;
      align-items: center; } }

/* line 22, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
body {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  font-family: 'Cabin', sans-serif;
  background-color: #E6E9EC;
  transition: all 0.2s ease;
  color: #222222; }

/* line 33, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.btn {
  border-radius: 100px; }

/* line 37, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.btn:hover {
  color: grey;
  transition: all 0.2s ease; }

/* line 42, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.btn-1 {
  background-color: darkcyan;
  color: aliceblue; }

/* line 47, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.btn-2 {
  background-color: #f5f5f5;
  color: #333; }

/* line 52, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.btn-3 {
  color: #D0D3D6;
  background-color: #00A0DC; }

/* line 57, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.card-img {
  width: 100%;
  height: 200px;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px); }

/* line 67, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.card {
  margin: .5em;
  border-width: 0px; }

/* line 72, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.cards {
  text-shadow: 2px 2px 1px rgba(49, 51, 53, 0.6);
  border-width: 0px;
  width: 100%; }

/* line 78, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.card2 {
  padding: 1em; }

/* line 83, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.card-title,
.card-text {
  background: rgba(0, 0, 0, 0.4);
  padding: 10px; }

/* line 89, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.centered {
  display: flex;
  align-items: center; }

/* line 94, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.email {
  background-color: orange; }

/* line 102, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.emph1 {
  color: #442220; }

/* line 102, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.emph2 {
  color: #E34C26; }

/* line 102, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.emph3 {
  color: #C2AF18; }

/* line 102, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.emph4 {
  color: #3b5998; }

/* line 102, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.emph5 {
  color: #cf5c36; }

/* line 102, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.emph6 {
  color: #306B7B; }

/* line 102, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.emph7 {
  color: #c69; }

/* line 102, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.emph8 {
  color: #6f5499; }

/* line 102, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.emph9 {
  color: #0769AD; }

/* line 102, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.emph10 {
  color: #339933; }

/* line 102, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.emph11 {
  color: #4F5B93; }

/* line 102, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.emph12 {
  color: #71b48d; }

/* line 102, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.emph13 {
  color: #0e402d; }

/* line 102, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.emph14 {
  color: #31263e; }

/* line 142, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.grow {
  transition: all 0.2s ease; }

/* line 147, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.grow:hover,
.grow:focus {
  transform: scale(1.05, 1.05); }

/* line 151, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.grow:hover .card-img {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  -o-filter: none;
  filter: none;
  transition: all 0.2s ease; }

/* line 160, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
h1 {
  font-size: 5em; }

/* line 166, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.hidn {
  display: none; }

/* line 170, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.pic-container {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-content: middle;
  margin: 1em; }

/* line 178, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.pic {
  width: 100%;
  overflow: hidden; }

/* line 183, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.signaturepic {
  width: 50%;
  height: auto; }

/* line 188, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.sm {
  padding: 2em 0 2em 0; }

/* line 192, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.title {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh; }

/* line 201, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.toplink {
  position: relative;
  color: #000;
  text-decoration: none; }

/* line 208, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.toplink:hover {
  color: #000;
  text-decoration: none; }

/* line 213, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.toplink:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  visibility: hidden;
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s; }

/* line 228, /Users/gcgp88/Documents/Web/portfolio/css/style.scss */
.toplink:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

/*# sourceMappingURL=style.css.map */