body {
  font-family: 'Cabin', sans-serif;
  background-color: #D1D5FF
}



}

.card3 {
  padding: 0em;
  border: solid;
  border-width: .05em;
  border-color: #A7AACC;
 width: 25%
  ;
}

#cards {
  text-shadow: 2px 2px 1px rgba(49, 51, 53, 0.6);
}

.card2 {
  padding: 1em;
  border-width: .05em;
  border-color: #A7AACC;
}

.centered {
  display: flex;
  align-items: center;
}

.card-title, .card-text {
       background: rgba(0, 0, 0, 0.4);
    padding: 10px;
}

.grow :hover {
    color: cornflowerblue;
}

.card-img {
    height:200px;
    width:350px;
}


}
.grow {
  transition: all .2s linear;
  text-decoration: none;
    
}

.grow:hover,
.grow:focus {
  transform: scale(1.05, 1.05);
    transition: all .2s linear;
}

#emph {
    color: firebrick;
}
#emph2 {
    color: darkgreen;
} 

#emph3 {
   color: mediumblue
}

#emph4 {
   color: orangered;
}

#emph5 {
    color: saddlebrown;
}

#emph6 {
    color: purple;
}

}
.toplink {
  transition: all .2s linear;
}
.toplink:hover,
.toplink:focus {
  transform: scale(1.05, 1.05);
}
a:hover {
  text-decoration: none;
}

#pic {
    height: auto;
    right: 25%;
    top: 100%;
}

.hidn {
    display: none;
}