a:hover {
    text-decoration: none;
}

body {
    font-family: 'Cabin', sans-serif;
    background: linear-gradient(to bottom, rgba(212, 228, 239, 1) 0%, rgba(134, 174, 204, 1) 100%);
    ;
}

.card-img {
    width: 100%;
    height: auto
}

.card {
    border-width: 0px;
}

#cards {
    text-shadow: 2px 2px 1px rgba(49, 51, 53, 0.6);
    border-width: 0px;
}

.card2 {
    padding: 1em;
    text-align: center;
}

.card-title,
.card-text {
    background: rgba(0, 0, 0, 0.4);
    padding: 10px;
}

.centered {
    display: flex;
    align-items: center;
}

#emph {
    color: firebrick;
}

#emph2 {
    color: darkgreen;
}

#emph3 {
    color: mediumblue
}

#emph4 {
    color: orangered;
}

#emph5 {
    color: saddlebrown;
}

#emph6 {
    color: purple;
}

.grow:hover {
    color: cornflowerblue;
}

.grow {
    transition: all .2s linear;
    text-decoration: none;
}

.grow:hover,
.grow:focus {
    transform: scale(1.05, 1.05);
    transition: all .2s linear;
}

.hidn {
    display: none;
}

#pic {
    height: auto;
    right: 25%;
    top: 100%;
}

.textcentered {
    text-align: center;
}


}
.toplink {
    transition: all .2s linear;
}
.toplink:hover,
.toplink:focus {
    transform: scale(1.05, 1.05);
}